<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User Addition Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Enter user details</h1>
<form action="#" th:action="@{/add}" th:object="${user}" method="post">

    <p>First Name: <input type="text" th:field="*{name}" /></p>
    <p>Second Name: <input type="text" th:field="*{secondName}" /></p>
    <p>Age: <input type="text" th:field="*{age}" /></p>
    <p><input type="submit" value="Save user" /> <input type="reset" value="Clear" /></p>
</form>
</body>
</html>